//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

// resolutions
$tablets: 768px;
$phones: 480px;

//normalize
@import "_misc/_normalize.scss";

// media
@import "_misc/_media.scss"; 

// setups
@import "_misc/_mixins.scss";
@import "_misc/_fonts.scss";
@import "_misc/_layout.scss";

// blocks
@import "blocks/_best.scss";
@import "blocks/_btn.scss";
@import "blocks/_burgers.scss";
@import "blocks/_fixed-menu.scss";
@import "blocks/_footer.scss";
@import "blocks/_hamburger-menu-link.scss";
@import "blocks/_hamburger-menu.scss";
@import "blocks/_header.scss";
@import "blocks/_hero.scss";
@import "blocks/_logo.scss";
@import "blocks/_map.scss";
@import "blocks/_menu-acco.scss";
@import "blocks/_menu.scss";
@import "blocks/_nav.scss";
@import "blocks/_order-link.scss";
@import "blocks/_order.scss";
@import "blocks/_reviews.scss";
@import "blocks/_section.scss";
@import "blocks/_socials.scss";
@import "blocks/_team-acco.scss";
@import "blocks/_team.scss";